// ------------------------------------------------------------------
// Custom Slide styles
// ------------------------------------------------------------------
.slide ul>li:lang(ru):before {
    content: '•';
}
.slide {
    h3 {
        font: 700 40px/1 PT Sans Narrow,sans-serif;
        margin-bottom: 50px;
    }
    .text-center {
        text-align: center;
    }
    .text-right {
        text-align: right;
    }
    .text-left {
        text-align: left;
    }

    .title-big {
        margin-top: 170px;
        font-size: 72px;
        line-height: 1.2;
        text-align: center;
    }

    .p-small {
        margin-top: -10px;
        margin-bottom: 20px;
        font-size: 18px;
    }

    .footnote {
        display: inline-block;
        font-size: 16px;
        color: #FF0000;
        line-height: 1;
        vertical-align: super;
    }
}

// ------------------------------------------------------------------
// Custom Slide
// ------------------------------------------------------------------
.s-title h2 {
    line-height: 1.5;
}

.s-love-psd {
    .a-img {
        background: none;
        text-decoration: none;
    }
}

.img-sparta {
    position: absolute;
    top: 120px;
    right: 120px;
}

.s-font-safe {
    padding: 60px;

    h3 {
        margin-bottom: 10px;
    }
    li {
        line-height: 1.6;
    }
}

.s-smoothing {
    h3 .footnote {
        position: relative;
        top: -25px;
    }
}

.s-inspiration {
    background: #ecf7f9 url('../pictures/businessman-cartoon-creative-idea-32778957.jpg') 100% 100% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.s-adap h2 {
    text-shadow: 0 0 15px #fff;
}

.img-layer-style {
    position: absolute;
    top: 180px;
    right: 50px;
    width: 400px;
}
.img-raster {
    display: inline-block;
    margin-right: 280px;
}
.img-vector {
    display: inline-block;
}
