// ------------------------------------------------------------------
// Custom Slide
// ------------------------------------------------------------------
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}



// ---
.s-title h2 {
    line-height: 1.5;
}


.s-love-psd {
    .a-img {
        background: none;
        text-decoration: none;
    }

}







